body {
  margin: 30px;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Courier New", Courier, monospace;
}

nav {
  margin: inherit;
  border-radius: 5px;
  border: 1px solid black;
}

nav ul li {
  list-style: none;
  /* border: 1px solid grey; */
  padding: 8px 16px;
  color: black;
  border-inline-end: 1px solid black;
  border-block-end: 1px solid black;
}

nav ul li a {
  text-decoration: none;
  text-transform: lowercase;
  color: blue;
  text-align: center;
  font-weight: 300;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

h1 {
  text-align: center;
  color: rgba(125, 125, 125, 0.5);
  margin: 68px auto 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
}

h2,
h3,
h4 {
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: justify;
  line-height: 1.5;
}

a#to-top {
  display: inline-block;
  padding: 8px 16px;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  margin-block-start: 15px;
}

@media (max-width: 768px) {
  body,section {
    margin: 3px;
    padding: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 16px;
  }

  nav ul li {
    margin: 10px;
    border-inline-end: 1px solid black;
    border-block-end: 1px solid black;
  }

  nav ul li:last-child {
    border-inline-end: 1px solid black;
  }

  p {
    text-align: justify;
    line-height: 1.5;
    padding-inline: 5px;
  }
}
