body {
  margin-inline: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 8px 16px;
}

nav ul li {
  list-style-type: none;
  border: 1px solid grey;
  padding: 8px 16px;
  margin-inline-start: 0px;
}

nav ul li a {
  text-decoration: none;
  color: blue;
}

nav {
  align-self: start;
  width: fit-content;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
}

caption {
  margin-block-end: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  text-transform: uppercase;
}

td,
th {
  border: 1px solid grey;
  padding: 8px 16px;
  text-align: center;
  text-wrap: wrap;
}
